@font-face {
    font-family: 'Frutiger LT Com';
    src: url('FrutigerLTCom-Light.woff2') format('woff2'),
        url('FrutigerLTCom-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT Com';
    src: url('FrutigerLTCom-BoldItalic.woff2') format('woff2'),
        url('FrutigerLTCom-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT Com';
    src: url('FrutigerLTCom-Bold.woff2') format('woff2'),
        url('FrutigerLTCom-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT Com';
    src: url('FrutigerLTCom-LightItalic.woff2') format('woff2'),
        url('FrutigerLTCom-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

