<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap-reboot.min.css" integrity="sha512-ioOlrrQQ3fZN/A7N2rZVm6JXp/Lg7xtda9OaRKornjBcuTW/UqIhTlPyngcGQGrQTOhJgmSltKM4v3Ne03WPug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" integrity="sha512-NWCafukXClS6fKch6bSMl/WvPzZrD1OGMf1oMAnFYXSSKZ7hgeswls+r4SdK4bFJauVwmvFf7HlMwji2TsjROA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link href="/font/panton-webfont/stylesheet.css" rel="stylesheet">
	<link href="/font/frutiger-webfont/stylesheet.css" rel="stylesheet">

	<link href="/css/style.css" rel="stylesheet">

	<title>RSG | Product Filter</title>
</head>
<body>
<div class="header-shadow-el"></div>
<header id="header">
	<div class="menu-mobile d-lg-none">
		<div class="top-bar">
			<a href="/index.html">
				<img src="/img/RSG_HKS27K-RGB.svg" alt="RSG Logo" class="logo img-fluid">
			</a>
			<div class="tb-action">
				<a href="#">
					<i class="icon icon-search"></i>
				</a>
				<button class="mobile-menu-toggle">
					<span></span>
				</button>
			</div>
		</div>
		<div class="menu-content">
			<div>
				<ul>
					<li>
						<a href="#">Login
							<i class="icon icon-user"></i>
						</a>
					</li>
				</ul>
				<ul class="main-nav">
					<li>
						<a href="#">PRODUKTE</a>
					</li>
					<li>
						<a href="#">PROJEKTE</a>
					</li>
					<li>
						<a href="#">VENTILUTIONS</a>
					</li>
					<li>
						<a href="#">SERVICE</a>
					</li>
					<li>
						<a href="#">KONTAKT</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="#">Unternehmen</a>
					</li>
					<li>
						<a href="#">Karriere</a>
					</li>
					<li>
						<a href="#">News</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="menu-desktop d-none d-lg-block">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3">
					<a href="/index.html">
						<img src="/img/RSG_HKS27K-RGB.svg" alt="RSG Logo" class="main-logo img-fluid">
					</a>
				</div>
				<div class="col-lg-9">
					<ul class="top-nav">
						<li class="icon-link">
							<a href="#">
								<i class="icon icon-search"></i>
							</a>
						</li>
						<li class="icon-link">
							<a href="#">
								<i class="icon icon-user"></i>
							</a>
						</li>
						<li class="language-selector">
							<a href="#">DE</a>
							<ul>
								<li>
									<a href="#">EN</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Unternehmen</a>
						</li>
						<li>
							<a href="#">Karriere</a>
						</li>
						<li>
							<a href="#">News</a>
						</li>
					</ul>
					<ul class="bottom-nav">
						<li>
							<a href="#">PRODUKTE</a>
						</li>
						<li>
							<a href="#">PROJEKTE</a>
						</li>
						<li>
							<a href="#">VENTILUTIONS</a>
						</li>
						<li>
							<a href="#">SERVICE</a>
						</li>
						<li>
							<a href="#">KONTAKT</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</header>

<div class="body">

	<div class="product-filter">
		<div class="container">
			<div class="row">

				<div class="col-12">
					<p class="product-filter__title"><span>78</span> Produkte</p>

					<p class="product-filter__subtitle">Filtern nach Kategorie</p>
					<div class="pb-5">

						<div class="form-check-btn">
							<div class="form-check__wrapper">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
									<label class="form-check-label button" for="defaultCheck1">
										Kunststoffventile (9)
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
									<label class="form-check-label button" for="defaultCheck2">
										Metallventile (24)
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
									<label class="form-check-label button" for="defaultCheck3">
										Coaxialventile (26)
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
									<label class="form-check-label button" for="defaultCheck4">
										Regelventile (7)
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
									<label class="form-check-label button" for="defaultCheck5">
										Kugelhähne (6)
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
									<label class="form-check-label button" for="defaultCheck6">
										Amaturen (6)
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
									<label class="form-check-label button" for="defaultCheck6">
										Zubehör (XX)
									</label>
								</div>
							</div>
						</div>

					</div>

					<p class="product-filter__subtitle">Filter für Kunststoffventile</p>

					<div class="pb-5">

						<div class="form-check-check">
							<div class="form-check__wrapper">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck11" checked>
									<label class="form-check-label" for="defaultCheck11">
										PVC
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck22" checked>
									<label class="form-check-label" for="defaultCheck22">
										PTFE
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck44">
									<label class="form-check-label" for="defaultCheck44">
										PVDF
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck55">
									<label class="form-check-label" for="defaultCheck55">
										PP
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck33" range1-checked-js>
									<label class="form-check-label" for="defaultCheck33">
										Nennweite
									</label>

									<div class="form-check-range-wrapper">
										<div>
											<div class="form-check-range">
												<input type="text" class="js-range-slider-1" name="my_range" value=""/>
											</div>
										</div>
										<!--										<div>-->
										<!--											<input type="text" name="" disabled placeholder="" value="0" range1-input-min-js>-->
										<!--											<input type="text" name="" disabled placeholder="" value="50" range1-input-max-js>-->
										<!--										</div>-->
									</div>
								</div>

								<div class="form-check"></div>
							</div>
						</div>

					</div>
					<div class="pb-2">

						<div class="form-check-check">
							<div class="form-check__wrapper">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck111">
									<label class="form-check-label" for="defaultCheck111">
										Direktgesteuert
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck222">
									<label class="form-check-label" for="defaultCheck222">
										Fremdgesteuert
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck444">
									<label class="form-check-label" for="defaultCheck444">
										2/2 Wege
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck555">
									<label class="form-check-label" for="defaultCheck555">
										2/3 Wege
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
									<label class="form-check-label" for="defaultCheck6">
										Endschalter
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
									<label class="form-check-label" for="defaultCheck6">
										Montagewinkel
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck333" range2-checked-js>
									<label class="form-check-label" for="defaultCheck333">
										Druck (bar)
									</label>

									<div class="form-check-range-wrapper">
										<div>
											<div class="form-check-range">
												<input type="text" class="js-range-slider-2" name="my_range" value=""/>
											</div>
										</div>
										<!--										<div>-->
										<!--											<input type="text" name="" disabled placeholder="" value="0" range2-input-min-js>-->
										<!--											<input type="text" name="" disabled placeholder="" value="6" range2-input-max-js>-->
										<!--										</div>-->
									</div>
								</div>
								<div class="form-check"></div>
							</div>
						</div>

					</div>
					<div class="product-filter__btn">
						<div></div>
						<div></div>
						<div>
							<a href="#" class="button">Jetzt filtern</a>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	</div>

	<section class="bgb-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="product-box">
						<div class="image">
							<img src="img/baugruppendetailseite/Bildschirmfoto 2020-01-09 um 09.17.12@2x.png">
						</div>
						<div class="details">
							<h3>Baureihe 110</h3>
							<h2>2/2-Wege Kunststoff- Magnetventil</h2>
							<p>
								direktgesteuert mit Trennmembrane, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							</p>
							<a href="#" class="more">Details</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="product-box">
						<div class="image">
							<img src="img/baugruppendetailseite/Bildschirmfoto 2020-01-09 um 09.18.48@2x.png">
						</div>
						<div class="details">
							<h3>Baureihe 111</h3>
							<h2>2/2-Wege Kunststoff- Magnetventil</h2>
							<p>
								direktgesteuert mit Trennmembrane, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							</p>
							<a href="#" class="more">Details</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="product-box">
						<div class="image">
							<img src="img/baugruppendetailseite/Bildschirmfoto 2020-01-09 um 09.19.51@2x.png">
						</div>
						<div class="details">
							<h3>Baureihe 136</h3>
							<h2>2/2-Wege Kunststoff- Magnetventil</h2>
							<p>
								direktgesteuert mit Trennmembrane, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							</p>
							<a href="#" class="more">Details</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="product-box">
						<div class="image">
							<img src="img/baugruppendetailseite/Bildschirmfoto 2020-01-09 um 09.17.12@2x.png">
						</div>
						<div class="details">
							<h3>Baureihe 110</h3>
							<h2>2/2-Wege Kunststoff- Magnetventil</h2>
							<p>
								direktgesteuert mit Trennmembrane, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							</p>
							<a href="#" class="more">Details</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="product-box">
						<div class="image">
							<img src="img/baugruppendetailseite/Bildschirmfoto 2020-01-09 um 09.18.48@2x.png">
						</div>
						<div class="details">
							<h3>Baureihe 111</h3>
							<h2>2/2-Wege Kunststoff- Magnetventil</h2>
							<p>
								direktgesteuert mit Trennmembrane, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							</p>
							<a href="#" class="more">Details</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="product-box">
						<div class="image">
							<img src="img/baugruppendetailseite/Bildschirmfoto 2020-01-09 um 09.19.51@2x.png">
						</div>
						<div class="details">
							<h3>Baureihe 136</h3>
							<h2>2/2-Wege Kunststoff- Magnetventil</h2>
							<p>
								direktgesteuert mit Trennmembrane, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							</p>
							<a href="#" class="more">Details</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="pt-3 pb-5">
				
				<div class="button__wrapper">
					<span></span>
					<a href="#" class="button">Mehr Produkte laden</a>
					<span></span>
				</div>
				
			</div>
		</div>
	</section>

	<section class="bgb-3">
		<div class="container">
			<div class="row no-gutters plg-group-1">
				<div class="col-lg-6">
					<div class="plg-box plg-box-2">
						<div class="icon-box">
							<i class="icon icon-hat"></i>
						</div>
						<div class="body-text">
							<h3>Glossar</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<a href="#" class="more">Mehr erfahren</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row no-gutters plg-group-2">
				<div class="col-lg-6">
					<div class="plg-box plg-box-1">
						<div class="icon-box">
							<i class="icon icon-play"></i>
						</div>
						<div class="body-text">
							<h3>Videos und Downloads</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<a href="#" class="more">Mehr erfahren</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="plg-box plg-box-2">
						<div class="icon-box">
							<i class="icon icon-gear"></i>
						</div>
						<div class="body-text">
							<h3>Konfigurator</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<a href="#" class="more">Mehr erfahren</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="hp-features-wrap py-5">
		<section class="hp-features">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="features">
							<div>
								<img src="img/home/icon-1.png">
								<div>Konzeption</div>
							</div>
							<div>
								<img src="img/home/icon-2.png">
								<div>Entwurf</div>
							</div>
							<div>
								<img src="img/home/icon-3.png">
								<div>Muster</div>
							</div>
							<div>
								<img src="img/home/icon-4.png">
								<div>Serienproduktion</div>
							</div>
							<div>
								<img src="img/home/icon-5.png">
								<div>Logistik</div>
							</div>
						</div>

						<div class="body-text">
							<h3>Gemeinsam mit unseren Kunden <br>das beste Ventil bauen</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<a href="#" class="button">Mehr über Ventilutions erfahren</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<section class="mid-cta mid-cta-text-left">
		<img src="img/home/Bildschirmfoto -44@2x.png">
		<div class="body-text">
			<div>
				<h2>Kundenprojekte – Individuelle Lösungen für jedes Problem</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
				<a href="#" class="button button-outline">Kundenprojekte entdecken</a>
			</div>
		</div>
	</section>

</div>

<footer>
	<div class="footer-logo d-lg-none">
		<a href="/index.html">
			<img src="/img/RSG_HKS27K-RGB.svg" alt="RSG Logo" class="img-fluid">
		</a>
	</div>
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-widget footer-widget-1">
						<h2>RSG Regel- und Steuergeräte GmbH</h2>
						<address>
							<h3>
								Klingenweg 1
								<br>
								74653 Ingelfingen
							</h3>
							<table>
								<tr>
									<td>
										<i class="icon icon-phone"></i>
									</td>
									<td>+49 7940 93 10 - 0</td>
								</tr>
								<tr>
									<td>
										<i class="icon icon-fax"></i>
									</td>
									<td>+49 7940 93 10 - 60</td>
								</tr>
								<tr>
									<td>
										<i class="icon icon-mail"></i>
									</td>
									<td>
										<a href="mailto:info@rsg-top.de">info@rsg-top.de</a>
									</td>
								</tr>
							</table>
						</address>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="footer-widget footer-widget-2">
						<h3>
							<img src="/img/iso-icon.png" alt="ISO zertifiziert">
							Wir sind ISO zertifiziert
						</h3>

						<ul class="check-list">
							<li>Made in Germany</li>
							<li>Persönliche Beratung und Betreuung</li>
							<li>Individuelle Fertigung nach Kundenwunsch</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="footer-widget footer-widget-3">
						<h2>Newsletter abonnieren</h2>
						<form>
							<div class="input-field">
								<input class="input" name="name" placeholder="Vorname, Name" required>
							</div>
							<div class="input-field">
								<input class="input" name="email" type="email" placeholder="E-Mailadresse" required>
							</div>
							<div class="action">
								<button class="button">
									<img src="/img/angle-right-white.png">
									Absenden
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3 d-none d-lg-block">
					<a href="/index.html">
						<img class="footer-logo-desktop" src="/img/RSG_HKS27K-RGB.svg">
					</a>
				</div>
				<div class="col-lg-6">
					<ul class="footer-nav">
						<li>
							<a href="#">Datenschutz</a>
						</li>
						<li>
							<a href="#">Impressum</a>
						</li>
						<li>
							<a href="#">AGB</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<button class="chat-button">
	<i class="icon icon-message"></i>
</button>
<button class="back-to-top">
	<svg version="1.1" id="icon-angle-up" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	     viewBox="0 0 284.929 284.929" xml:space="preserve">
        <path d="M282.082,195.285L149.028,62.24c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665,0.953-6.567,2.856L2.856,195.285
		C0.95,197.191,0,199.378,0,201.853c0,2.474,0.953,4.664,2.856,6.566l14.272,14.271c1.903,1.903,4.093,2.854,6.567,2.854
		c2.474,0,4.664-0.951,6.567-2.854l112.204-112.202l112.208,112.209c1.902,1.903,4.093,2.848,6.563,2.848
		c2.478,0,4.668-0.951,6.57-2.848l14.274-14.277c1.902-1.902,2.847-4.093,2.847-6.566
		C284.929,199.378,283.984,197.188,282.082,195.285z"/>
    </svg>
</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js" integrity="sha512-kZsqvmw94Y8hyhwtWZJvDtobwQ9pLhF1DuIvcqSuracbRn6WJs1Ih+04fpH/8d1CFKysp7XA1tR0Aa2jKLTQUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/js/vendor.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
